<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tongdao.getuidemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.tongdao.getuidemo.TongDaoShowApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tongdao.getuidemo.MainActivity"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="home"
                    android:scheme="getuidemo" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tongdao.getuidemo.BtnDefineActivity"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tongdao.getuidemo.ChangeBkActivity"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tongdao.getuidemo.RewardDefineActivity"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tongdao.getuidemo.DemoPage1"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="page1"
                    android:scheme="getuidemo" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tongdao.getuidemo.DemoPage2"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="page2"
                    android:scheme="getuidemo" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tongdao.getuidemo.DemoPage3"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="page3"
                    android:scheme="getuidemo" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tongdao.getuidemo.DemoPage4"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="page4"
                    android:scheme="getuidemo" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tongdao.getuidemo.DemoPage5"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="page5"
                    android:scheme="getuidemo" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tongdao.sdk.ui.TdDialogActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/td_transcutestyle" />
        <activity
            android:name="com.tongdao.sdk.ui.TdMessageDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- push应用定义消息receiver声明 -->
        <receiver
            android:name=".MyPushMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>
        <!-- push结束 -->
        <activity
            android:name="com.tongdao.getuidemo.LogInActivity"
            android:label="@string/title_activity_log_in"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>



    </application>

</manifest>
