<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tongdao.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <permission android:name="com.tongdao.demo.permission.MIPUSH_RECEIVE" android:protectionLevel="signature" />
    <uses-permission android:name="com.tongdao.demo.permission.MIPUSH_RECEIVE" />

    <application
        android:name=".TongDaoShowApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="home"
                    android:scheme="demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BtnDefineActivity"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeBkActivity"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RewardDefineActivity"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DemoPage1"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="page1"
                    android:scheme="demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DemoPage2"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="page2"
                    android:scheme="demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DemoPage3"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="page3"
                    android:scheme="demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DemoPage4"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="page4"
                    android:scheme="demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DemoPage5"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="page5"
                    android:scheme="demo" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tongdao.sdk.ui.TdDialogActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/td_transcutestyle" />
        <activity
            android:name="com.tongdao.sdk.ui.TdMessageDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />



        <!-- push应用定义消息receiver声明 -->
        <service
            android:enabled="true"
            android:process=":pushservice"
            android:name="com.xiaomi.push.service.XMPushService"/>
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />
        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->
        <service
            android:enabled="true"
            android:exported="true"
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler" />
        <service android:enabled="true"
            android:name="com.xiaomi.mipush.sdk.MessageHandleService" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:name=".xiaomi.push.MyPushMessageReceiver"
            android:exported="true"
            android:permission="com.tongdao.demo.permission.MIPUSH_RECEIVE">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="true"
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="false"
            android:process=":pushservice"
            android:name="com.xiaomi.push.service.receivers.PingReceiver" >
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <!--Push receiver end-->

        <activity
            android:name=".LogInActivity"
            android:label="@string/title_activity_log_in"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.tongdao.sdk.permissions.PermissionActivity"
            android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="portrait" />


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="573aedf3e0f55acbad002aa5 " >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="13ec287702293c536553d0e222e9ded8 " >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>
    </application>

</manifest>
